blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
platformdirs==4.3.6
Pygments==2.18.0
regex==2024.9.11
requests==2.32.3
rich==13.8.1
urllib3==2.2.3
virtualenv==20.26.5
Werkzeug==3.0.4
gunicorn
